<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head") %>
        <link rel="stylesheet" href="/css/styles_errors.css" />
        <link rel="stylesheet" href="/css/styles_PN.css" />
        <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
        <script src="/js/product-validator.js" defer></script>        
        <title>DevVision - Editar Producto</title>
</head>

<body class="bg-grey">
    <header class="header_style">
        <%- include("partials/header") %>
    </header>
    <main class="main_style">
        <h1 class="title">Editar Producto - <%= product.name %>
        </h1>
        <form action="/products/update/<%= product.id %>?_method=PUT" method="POST" class="productEdit-form" enctype="multipart/form-data">
            <div class="dataProduct">

                <div class="PD-product-image">
                    <img src="/images/products/<%=product.image%>" alt=<%= product.name %> height="25%">
                </div>
  
                <label class="label-productEdit-form" for="art">Art</label>
                <input class="input-productEdit-form" type="text" id="art" name="art" value="<%= product.art %>">

                <label class="label-productEdit-form" for="name">Nombre</label>
                <input class="input-productEdit-form" type="text" id="name" name="name" value="<%= product.name %>">
                <span class="errorMsg" id="nameError"></span>

                <label class="label-productEdit-form" for="brand">Marca</label>
                <select class="select-productEdit-form" id="brand" name="brand">
                    <option value="">Seleccione una opción...</option>
                    <% brandList.forEach(brand=> { %>                    
                    <option value="<%= brand.id %>"<% if (product.id_brand == brand.id ){%> selected <%}%>><%= brand.name %></option>
                    <% }) %>
                </select>

                <label class="label-productEdit-form" for="collection">Coleccion</label>
                <input class="input-productEdit-form" type="text" id="collection" name="collection" value="<%= product.collection %>" >

                <label class="label-productEdit-form" for="model">Modelo</label>
                <input class="input-productEdit-form" type="text" id="model" name="model" value="<%= product.model %>" >


                <label class="label-productEdit-form" for="gender">Genero</label>
                <select class="select-productEdit-form" id="gender" name="gender" >
                    <option value="">Seleccione una opción...</option>
                    <% genderList.forEach(gender=> { %>                    
                    <option value="<%= gender.id %>"<% if (product.id_gender == gender.id ){%> selected <%}%>><%= gender.name %></option>
                    <% }) %>
                </select>

                <label class="label-productEdit-form" for="gender">Año</label>
                <input type="number" name="year" id="year" min="1900" max="2099" step="1" class="input-productEdit-form" value="<%= product.year %>" >
                <div class="checkbox-block">
                    <div class="checkbox-subblock">
                        <span>Talles</span>
                        <div class="checkbox-group">
                            <% sizeList.forEach(size=> { %>
                                <div class="checkbox-option">
                                    <input type="checkbox" id="<%= size.name %>" name="size" value="<%= size.id %>" 
                                    <%if ( (product.sizes) && product.sizes.find((value)=> value.id == size.id)){%>checked<%}%>>
                                        <label for="<%= size.name %>"><%= size.name %></label>
                                    </div>
                                <% }) %>                            
                        </div>
                    </div>

                    <div class="checkbox-subblock">
                        <span>Colores</span>
                        <div class="checkbox-group">
                                  <% colorList.forEach(color=> { %>
                                    <div class="checkbox-option">
                                        <input type="checkbox" id="<%= color.name %>" name="color" value="<%= color.id %>"
                                        <% if ( (product.colors) && product.colors.find((value)=> value.id == color.id)){%>checked<%}%>>
                                            <label for="<%= color.name %>"><%= color.name %></label>
                                            <div class="hexColor" style="background-color: <%= color.code_hex %>"></div>
                                    </div>
                                    <% }) %>
                        </div>
                    </div>
                </div>

                <label class="label-productEdit-form" for="description">Descripcion</label>
                <textarea class="input-productEdit-form" type="textarea" id="description" name="description" cols="30" rows="6" maxlength= "500"><% if ( product.description !== null ){%><%= product.description %><%}%></textarea>
                <span class="errorMsg" id="descriptionError"></span>
                <label class="label-productEdit-form" for="price">Precio</label>
                <input class="input-productEdit-form" type="text" id="price" name="price" value="<%= product.price %>" >

                <label class="label-productEdit-form" for="discount">Descuento %</label>
                <input class="input-productEdit-form" type="text" id="discount" name="discount" value="<%= product.discount %>">
                
                <div class="checkbox-option">
                    <input type="checkbox" id=is_news name=is_news <% if (product.is_news == '1'){%> checked <%}%>>
                    <label for="is_news">Nuevo lanzamiento</label>               
                </div>

                <label class="label-productEdit-form" for="image" >Imagen (<%=product.image%>)</label>
                <input class="input-productEdit-form image" type="file" id="image" name="image" accept="image/*">

            </div>
            <div class="buttoms">
                <button class="buttom-productEdit-form" type="submit">Guardar producto</button>
            </div>
        </form>
    </main>
    <footer class="footer_style">
        <%- include("partials/footer") %>
    </footer>
</body>

</html>