<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head") %>
        <link rel="stylesheet" href="/css/styles_PE.css">
        <title>Editar Producto - DevVision</title>
</head>

<body class="bg-grey">
    <header class="header_style">
        <%- include("partials/header") %>
    </header>
    <main class="main_style">
        <h1 class="title">Editar Producto - <%= product.name %>
        </h1>
        <form action="/products/update/<%= product.id %>" method="POST" class="productEdit-form" enctype="multipart/form-data">
            <div class="dataProduct">

                                <div class="PD-product-image">
                    <img src="/images/products/<%=product.image%>" alt=<%= product.name %> height="25%">
                </div>
  
                <label class="label-productEdit-form" for="art">Art</label>
                <input class="input-productEdit-form" type="text" id="art" name="art" value="<%= product.art %>" required>

                <label class="label-productEdit-form" for="name">Nombre</label>
                <input class="input-productEdit-form" type="text" id="name" name="name" value="<%= product.name %>" required>

                <label class="label-productEdit-form" for="brand">Marca</label>
                <input class="input-productEdit-form" type="text" id="brand" name="brand" value="<%= product.brand %>" required>

                <label class="label-productEdit-form" for="collection">Coleccion</label>
                <input class="input-productEdit-form" type="text" id="collection" name="collection" value="<%= product.collection %>" required>

                <label class="label-productEdit-form" for="model">Modelo</label>
                <input class="input-productEdit-form" type="text" id="model" name="model" value="<%= product.model %>" required>


                <label class="label-productEdit-form" for="gender">Genero</label>
                <select class="select-productEdit-form" id="gender" name="gender" required>
                    <option value="">Seleccione una opción...</option>
                    <option value="Unisex" <% if (product.gender == 'Unisex'){%> selected <%}%>>Unisex</option>
                    <option value="Hombre" <% if (product.gender == 'Hombre'){%> selected <%}%>>Hombre</option>
                    <option value="Mujer" <% if (product.gender == 'Mujer'){%> selected <%}%>>Mujer</option>
                </select>

                <label class="label-productEdit-form" for="gender">Año</label>
                <input type="number" name="date" id="date" min="1900" max="2099" step="1" class="input-productEdit-form" value="<%= product.date %>" required>
                <div class="checkbox-block">
                    <div class="checkbox-subblock">
                        <span>Talles</span>
                        <div class="checkbox-group">
                            <% sizeList.forEach(size=> { %>
                                <div class="checkbox-option">
                                    <input type="checkbox" id="<%= size.name %>" name="size"
                                        value="<%= size.id %>" <% if ( product.size.find((value)=> value == size.shortName)){%> checked <%}%>>
                                        <label for="<%= size.name %>"><%= size.name %></label>
                                    </div>
                                <% }) %>
                        </div>
                    </div>

                    <div class="checkbox-subblock">
                        <span>Colores</span>
                        <div class="checkbox-group">
                            <% colorList.forEach(color=> { %>
                                <div class="checkbox-option">
                                    <input type="checkbox" id="<%= color.name %>" name="color" value="<%= color.id %>" <% if ( product.color.find((value)=> value == color.codeHex)){%> checked <%}%>>
                                        <label for="<%= color.name %>"><%= color.name %></label>
                                        <div class="hexColor" style="background-color: <%= color.codeHex %>"></div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                </div>

                <label class="label-productEdit-form" for="description">Descripcion</label>
                <textarea class="input-productEdit-form" type="textarea" id="description" name="description" cols="30" rows="6" maxlength= "500" required><% if ( product.description !== null ){%><%= product.description %><%}%></textarea>
                <label class="label-productEdit-form" for="price">Precio</label>
                <input class="input-productEdit-form" type="text" id="price" name="price" value="<%= product.price %>" required>

                <label class="label-productEdit-form" for="discount">Descuento %</label>
                <input class="input-productEdit-form" type="text" id="discount" name="discount" value="<%= product.discount %>" required>
       
                <label class="label-productEdit-form" for="image" >Imagen (<%=product.image%>)</label>
                <input class="input-productEdit-form image" type="file" id="image" name="image" accept="image/*">
            </div>
            <div class="buttoms">
                <button class="buttom-productEdit-form" type="submit">Guardar producto</button>
            </div>
        </form>
    </main>
    <footer class="footer_style">
        <%- include("partials/footer") %>
    </footer>
</body>

</html>